.custom-channel-list-container {
  height: 100%;
}

.custom-channel-list-container .header-container {
    height: 64px;
    min-height: 64px;
    width: 320px;
    padding: 8px 8px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
}