.message-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.attachment-icon {
  height: auto;
  width: 26px;
  cursor: pointer;
}
.attachment-icon:hover{
  fill: #a8cf3d
}
.message-input {
  width: 80%;
}

.send-icon-container{
  margin-left: 15px;
  margin-right: 15px;
}

.send-icon {
  height: auto;
  width: 26px;
  cursor: pointer;
}
.send-icon:hover{
  fill: #a8cf3d
}