.custom-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/main.jpeg') center/cover no-repeat
}

.banner-fullscreen{
  height: 100vh;
}

.custom-banner > h1 {
  color: white;
}