.main-div{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh
}

.center-text{
  text-align: center;
}

.error-msg{
  color: red;
}

.btn-margin-left{
  margin-left: 20px;
}